<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/theme/css/style.css">

    @*<title>Home Page</title>*@
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">E-Ticaret Proje</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/List">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/AuthorList">Yazarlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hakkımızda</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    @RenderBody()


    <footer class="footer mt-auto py-3">
        <div class="container" style="color:white">
            <div class="row pt-3">
                <div class="col-sm">
                    <h6>E-Ticaret Proje</h6>
                    <div class="row pt-3">
                            <a class="nav-link" href="/Home/List" style="color: #dfe5e8">Ürünler</a>
                    </div>
                    <div class="row">
                            <a class="nav-link" href="#" style="color: #dfe5e8">Yazarlar</a>
                    </div>
                    <div class="row">
                            <a class="nav-link" href="#" style="color: #dfe5e8">Hakkımızda</a>
                    </div>
                </div>
                <div class="col-sm social">
                    <h6>Sosyal Meyda</h6>
                    <div class="row pt-3">
                        <a class="nav-link" href="https://twitter.com/" style="color: #dfe5e8 "><i class="fa-brands fa-twitter fa-lg" style="padding-right:5px"></i> Twitter</a>
                    </div>
                    <div class="row">
                        <a class="nav-link" href="https://www.facebook.com/" style="color: #dfe5e8 "><i class="fa-brands fa-facebook fa-lg" style="padding-right:5px"></i> Facebook</a>
                    </div>
                    <div class="row">
                        <a class="nav-link" href="https://www.instagram.com/" style="color: #dfe5e8 "><i class="fa-brands fa-instagram fa-lg" style="padding-right:5px"></i> Instagram</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm pb-5">
                        <h6>İletişim</h6>
                        <br />
                        <div class="col-sm pt-3">
                            <i class="fa-solid fa-mobile-screen-button" style="padding-right: 10px"></i> Telefon :  05555555555
                        </div>
                        <hr />
                        <div class="col-sm">
                            <i class="fa-regular fa-envelope" style="padding-right:10px"></i> Email : anil@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="container">
            <div class="row">
                Sosyal Medya
            </div>
            <span class="text-muted">Place sticky footer content here.</span>
            <a class="navbar-brand" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i> Facebook</a>
        </div>*@
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>
</html>